html {
  height: 100vh;
}

body {
 top :1%;
 left: 1%;
 right: 1%;
  margin: 0%;
  background-color:rgb(0, 0, 0);
  display: flex;
  height: 90%;
}

.cardContent{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  width: 100%;
  height: 100%;
  background-color: rgb(105, 105, 105);
  color: rgb(0, 0, 0);
  justify-content: left;
  display: flex;
  align-items: left; 
  overflow: auto;
}

.comboBth {
  border: none;
  background-color: inherit;
  align-items: top;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  justify-content: left;
  overflow: auto;
}

.btn {
  border: none;
  background-color: inherit;
  font-size: 28px;
  cursor: pointer;
  display: inline-block;
  color:rgb(255, 255, 255);
  justify-content: left;
  align-items: left; 
  padding-left: 0%;
  vertical-align: top;
  overflow :visible;
}

.btnCard {
  color:rgb(0, 0, 0);
}

.btnTemp {
  border: none;
  background-color: inherit;
  font-size: 32px;
  cursor: pointer;
  display: inline-block;
  color:rgb(255, 255, 255);
  width: 120px;
}

.img {
  width: 100%;
}

/* On mouse-over */
.btn:hover {color: #949494;}
.image:hover {opacity: 0.5;}

.card {
  display: flex;
  padding-left: 8%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color : rgb(255, 255, 255);
}

.white {
  background-color: rgb(0, 0, 0);
}

.dark {
  background-color: rgb(123, 123, 123);
}

.top
{
  align-items: end;
}

.down
{
  align-items: start;
}

.combo {
  display: none;
  width: 100%;
  height: 100%;
  padding:0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  justify-content: left;
}

.verticalPart {
  display: flex;
  width:100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
} 

.centerPart {
  display: flex;
  width:100%;
  background-color: rgb(255, 255, 255);
} 

.mobileCenter {
  height: 20%;
}

.mobileList {
  height: 30%;
}

.desktopCenter {
  height: 46%;
}

.desktopList {
  height: 17%;
}

.buttonPart {
  display: flex;
  justify-content: center;
  width:100%;
  height: 10%;
  background-color: rgb(255, 255, 255);
} 
.buttonContainer {
  display: flex;
  justify-content: center;
  width:100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.lockButton {
  position: absolute;
  bottom: 12%;
  right: -15px;
}

@media screen and (orientation:portrait) {
  .container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display:block;
    padding:0%;
  }

  .one {
    height: 100%;
    width:50%;
  }
 }

@media screen and (orientation:landscape) {
  .container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display:block;
    padding:0%;
  }

  .one {
    height: 100%;
    width:50%;
  }
}
