.node {
  cursor: pointer;
  stroke: #000000;
  stroke-width: 1px;
  fill : white;
}

.actionLabel {
  font: 12px helvetica;
  pointer-events: none;
  text-anchor: middle;
  padding: 2px;
  height: 24px;
  width: 24px;
  font-size: 10px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  font: 12px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

.linkTemp{
  fill: none;
  stroke: #ff0000;
  stroke-width: 1px;
  mix-blend-mode: darken;
}

.link{
  fill: none;
  stroke: #777575;
  stroke-width: 1px;
  mix-blend-mode: darken;
}
img {
  max-width: 100%;
  max-height: 100%;
}
div {

  font-size: 10px;

}



